[package]
name = "recovery"
version = "0.1.0"
edition = "2021"

[dependencies]
solana-program = "~1.18"
borsh = "1.3"
thiserror = "1.0"
sha2 = "0.10"
serde = { version = "1.0", features = ["derive"] }
core-crypto = { path = "../core-crypto" }
smart-account = { path = "../smart-account" }
